In [4]:
import numpy as np
import pandas as pd

## 1. 경기도 성남시_생활안전 CCTV 설치 현황_20251112.csv
https://www.data.go.kr/data/15147955/fileData.do

In [5]:
cctv_df = pd.read_csv('./경기도 성남시_생활안전 CCTV 설치 현황_20251112.csv')
cctv_df.head()

,연번,시,구,동,관리번호,지번주소,도로명주소,설치일자,카메라대수,위도,경도,데이터기준일자
0,1.0,경기도 성남시,수정구,신흥1동,수정신흥1-A-1,신흥1동 6497번지,수정남로84번길 24-1 (신흥동),2009,5.0,37.439615,127.138008,2025-11-12
1,2.0,경기도 성남시,수정구,신흥1동,수정신흥1-A-2,신흥1동 6598번지,탄리로16번길 3-8 (신흥동),2009,4.0,37.438970,127.139560,2025-11-12
2,3.0,경기도 성남시,수정구,신흥1동,수정신흥1-A-3,신흥1동 5095번지,시민로163번길 19 (신흥동),2009,5.0,37.442144,127.141380,2025-11-12
3,4.0,경기도 성남시,수정구,신흥1동,수정신흥1-A-4,신흥1동 4326번지,산성대로225번길 16 (신흥동),2009,5.0,37.439805,127.141888,2025-11-12
4,5.0,경기도 성남시,수정구,신흥1동,수정신흥1-A-5,신흥1동 4900번지,탄리로52번길 32 (신흥동),2009,4.0,37.440745,127.140138,2025-11-12

In [6]:
cctv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3026 entries, 0 to 3025
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       3024 non-null   float64
 1   시        3024 non-null   object
 2   구        3024 non-null   object
 3   동        3024 non-null   object
 4   관리번호     3024 non-null   object
 5   지번주소     3024 non-null   object
 6   도로명주소    1616 non-null   object
 7   설치일자     3024 non-null   object
 8   카메라대수    3024 non-null   float64
 9   위도       3024 non-null   float64
 10  경도       3024 non-null   object
 11  데이터기준일자  3024 non-null   object
dtypes: float64(3), object(9)
memory usage: 283.8+ KB

## 2. 경기도_성남시_옐로카펫_설치현황
https://www.data.go.kr/data/15042521/fileData.do

In [7]:
yellowCarpet_df = pd.read_csv('./경기도_성남시_옐로카펫_설치현황_20250617.csv', encoding='cp949')
yellowCarpet_df.head()

,연번,설치장소,설치도로명주소,설치지번주소,설치개소수,설치연도,관리기관전화번호,데이터기준일
0,1,태평초등학교,경기도 성남시 수정구 남문로32번길 7,경기도 성남시 수정구 태평동 3743,1,2016,031-729-3672,2025-06-17
1,2,늘푸른초등학교,경기도 성남시 분당구 정자일로 87,경기도 성남시 분당구 정자동 178-5,1,2016,031-729-3672,2025-06-17
2,3,오리초등학교,경기도 성남시 분당구 미금로 121,경기도 성남시 분당구 구미동 115,1,2016,031-729-3672,2025-06-17
3,4,상원초등학교,경기도 성남시 중원구 은행로 6,경기도 성남시 중원구 은행동 421,1,2017,031-729-3672,2025-06-17
4,5,금상초등학교,경기도 성남시 중원구 금상로 97 금상초등학교,경기도 성남시 중원구 금광동 1645,1,2017,031-729-3672,2025-06-17

In [8]:
yellowCarpet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연번        85 non-null     int64
 1   설치장소      85 non-null     object
 2   설치도로명주소   85 non-null     object
 3   설치지번주소    85 non-null     object
 4   설치개소수     85 non-null     int64
 5   설치연도      85 non-null     int64
 6   관리기관전화번호  85 non-null     object
 7   데이터기준일    85 non-null     object
dtypes: int64(3), object(5)
memory usage: 5.4+ KB

## 3. 경기도아동안전지킴이집현황.csv
https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=A484FNEWKSWX3IXUSJ1L29703862&infSeq=1&order=&loc=&downloadType=&SAFE_FACLT_NM=&REFINE_ROADNM_ADDR=&REFINE_LOTNO_ADDR=

- 수집기간 : 2019 - 2026-02-23

In [9]:
child_shelter_df = pd.read_csv('./경기도아동안전지킴이집현황.csv', encoding='cp949')
child_shelter_df.head()

,안전시설명,안전시설전화번호,소재지도로명주소,소재지지번주소,위도,경도,현존주소여부
0,우리자동차운전학원,031-582-0769,경기도 가평군 가평읍 태봉두밀로 34-71,경기도 가평군 가평읍 상색리 171-38번지,37.804569,127.486789,S
1,경희대튼튼체육관,031-582-6943,경기도 가평군 가평읍 석봉로 146,경기도 가평군 가평읍 읍내리 329-21번지,37.828148,127.511625,S
2,CU가평군청점,NaN,경기도 가평군 가평읍 석봉로 175,경기도 가평군 가평읍 읍내리 495-30번지,37.830591,127.510341,S
3,GS25가평군청점,031-582-5175,경기도 가평군 가평읍 석봉로 163,경기도 가평군 가평읍 읍내리 495-32번지,37.829716,127.510636,S
4,다래향,031-582-5552,경기도 가평군 가평읍 향교로 4,경기도 가평군 가평읍 읍내리 535번지,37.829653,127.510295,S

In [10]:
# 성남시 안전지킴이집만 필터링
child_shelter_df = child_shelter_df[child_shelter_df['소재지도로명주소'].str.contains('성남', na=False)]

In [11]:
child_shelter_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 751 to 901
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   안전시설명     121 non-null    object
 1   안전시설전화번호  109 non-null    object
 2   소재지도로명주소  121 non-null    object
 3   소재지지번주소   121 non-null    object
 4   위도        121 non-null    float64
 5   경도        121 non-null    float64
 6   현존주소여부    121 non-null    object
dtypes: float64(2), object(5)
memory usage: 7.6+ KB

## 4. 상시교통량(일반국도시간대별)

In [12]:
traffic_df = pd.read_csv('./상시교통량(일반국도시간대별).csv', encoding='cp949')
traffic_df.head()

,년도,월,일,호선명,호선코드,지점번호,상/하행,상/하행 코드,지역,지역코드,...,15~16시,16~17시,17~18시,18~19시,19~20시,20~21시,21~22시,22~23시,23~24시,전일합계
0,2024,1,29,일반국도 37호선,37,3719-01,상행,1,경기 여주 대신면,3128036,...,292,320,247,248,124,93,65,42,21,3733
1,2024,1,30,일반국도 3호선,3,0335-01,하행,0,경기 연천 청산면,3135032,...,1682,1572,1890,1716,877,644,528,371,223,23114
2,2024,1,30,일반국도 3호선,3,0328-02,하행,0,경기 여주 가남읍,3128011,...,1118,1154,1401,1125,574,481,362,240,131,16484
3,2024,1,30,일반국도 43호선,43,4305-00,하행,0,경기 광주 중부면,3125037,...,929,1073,1292,1273,576,359,287,186,116,14761
4,2024,1,30,일반국도 43호선,43,4304-02,하행,0,경기 광주 송정동,3125052,...,3199,3319,3757,3557,2246,1552,1383,784,462,49935

In [13]:
traffic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42304 entries, 0 to 42303
Data columns (total 36 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년도       42304 non-null  int64
 1   월        42304 non-null  int64
 2   일        42304 non-null  int64
 3   호선명      42304 non-null  object
 4   호선코드     42304 non-null  int64
 5   지점번호     42304 non-null  object
 6   상/하행     42304 non-null  object
 7   상/하행 코드  42304 non-null  int64
 8   지역       42304 non-null  object
 9   지역코드     42304 non-null  int64
 10  주변분기점    42304 non-null  object
 11  00~01시   42304 non-null  int64
 12  01~02시   42304 non-null  int64
 13  02~03시   42304 non-null  int64
 14  03~04시   42304 non-null  int64
 15  04~05시   42304 non-null  int64
 16  05~06시   42304 non-null  int64
 17  06~07시   42304 non-null  int64
 18  07~08시   42304 non-null  int64
 19  08~09시   42304 non-null  int64
 20  09~10시   42304 non-null  int64
 21  10~11시   42304 non-null  int64
 22  11~12시   42304 non-null  int64
 23  12~13시   42304 non-null  int64
 24  13~14시   42304 non-null  int64
 25  14~15시   42304 non-null  int64
 26  15~16시   42304 non-null  int64
 27  16~17시   42304 non-null  int64
 28  17~18시   42304 non-null  int64
 29  18~19시   42304 non-null  int64
 30  19~20시   42304 non-null  int64
 31  20~21시   42304 non-null  int64
 32  21~22시   42304 non-null  int64
 33  22~23시   42304 non-null  int64
 34  23~24시   42304 non-null  int64
 35  전일합계     42304 non-null  int64
dtypes: int64(31), object(5)
memory usage: 11.6+ MB

## 5. 경기도 성남시_관공서 및 주요기관 정보_20251126.csv
https://www.data.go.kr/data/15032489/fileData.do

- 수집 일자: ~ 2025-11-26

In [14]:
police_station_df = pd.read_csv('./경기도 성남시_관공서 및 주요기관 정보_20251126.csv')
police_station_df.head()

,구 분,기관명,소 재 지,관할구역,전화번호,데이터기준일자
0,분당구,성남교육지원청,경기도 성남시 분당구 양현로 20,성남시,031-780-2500,2025-11-26
1,수정구,성남세무서,경기도 성남시 수정구 희망로 480,"성남시 수정구, 중원구",031-730-6200,2025-11-26
2,분당구,분당세무서,경기도 성남시 분당구 분당로 23,성남시 분당구,031-219-9200,2025-11-26
3,법원(지원),수원지방법원성남지원,경기도 성남시 수정구 산성대로 451,성남시,031-737-1114,2025-11-26
4,등기소,성남지원등기소,경기도 성남시 수정구 산성대로 451,성남시,1544-0773,2025-11-26

In [15]:
keywords = ['파출소', '지구대', '치안센터', '경찰서']
pattern = '|'.join(keywords)  
police_station_df = police_station_df[police_station_df['기관명'].str.contains(pattern, na=False)]
police_station_df.head()

,구 분,기관명,소 재 지,관할구역,전화번호,데이터기준일자
7,수정구,성남수정경찰서,경기도 성남시 성남대로 1259,수정구,031-182,2025-11-26
8,수정구,수진지구대,경기도 성남시 수정구 모란로 1,"태평1동, 수진2동",031-750-4020,2025-11-26
9,수정구,신흥지구대,경기도 성남시 수정구 시민로 150,"신흥1동, 신흥2동, 신흥3동",031-750-4030,2025-11-26
10,수정구,고등파출소,경기도 성남시 수정구 고등공원로 47,"신촌동, 오야동 등 9개동",031-750-4050,2025-11-26
11,수정구,복정파출소,경기도 성남시 수정구 복정로 36,복정동,031-750-4060,2025-11-26

In [16]:
police_station_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 7 to 34
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   구 분      28 non-null     object
 1   기관명      28 non-null     object
 2   소 재 지    28 non-null     object
 3   관할구역     28 non-null     object
 4   전화번호     28 non-null     object
 5   데이터기준일자  28 non-null     object
dtypes: object(6)
memory usage: 1.5+ KB

## 6. 경기도 성남시_도로상 조명시설 지오태깅 데이터_20221216
https://www.data.go.kr/data/15110582/fileData.do

- 수집일자: 2022-12-16 ~ 2025-11-13

In [17]:
lamp_df = pd.read_csv('./경기도 성남시_도로상 조명시설 지오태깅 데이터_20221216.csv', encoding='cp949')
lamp_df.head()

   순번(NO)  구분(LAMP) 일련번호(SER)  위도(LATITUDE)  경도(LONGITUDE)
0       1         2     고기로-1     37.352327     127.082932
1       2         2     고기로-2     37.352327     127.082932
2       3         2     고기로-3     37.352327     127.082932
3       4         2     구미로-1     37.343812     127.124693
4       5         2     구미로-2     37.343812     127.124693

In [18]:
lamp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33568 entries, 0 to 33567
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   순번(NO)         33568 non-null  int64
 1   구분(LAMP)       33568 non-null  int64
 2   일련번호(SER)      33568 non-null  object
 3   위도(LATITUDE)   33568 non-null  float64
 4   경도(LONGITUDE)  33568 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ MB

## 7.경기도 성남시_인구및세대_현황_20260131
https://www.data.go.kr/data/15007386/fileData.do

- 수집일자: ~2026-02-03

In [20]:
population_df = pd.read_csv('./경기도 성남시_인구및세대_현황_20260131.csv')
population_df.head()

,구별,동,인구수_계,인구수_남,인구수_여,19세 이상_계,19세 이상_남,19세 이상_여,65세 이상_계,65세 이상_남자,65세 이상_여자,세대수,재외국민,데이터기준일자
0,수정구,신흥1동,11999,6416,5583,11277,6041,5236,3142,1377,1765,7417,19,2026-01-31
1,수정구,신흥2동,31620,15355,16265,26664,12853,13811,5248,2426,2822,12302,49,2026-01-31
2,수정구,신흥3동,10632,5718,4914,9957,5373,4584,2616,1227,1389,6436,9,2026-01-31
3,수정구,태평1동,13508,7011,6497,12791,6659,6132,3599,1591,2008,8214,22,2026-01-31
4,수정구,태평2동,13600,6853,6747,12562,6350,6212,3388,1453,1935,7525,17,2026-01-31

In [21]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구별         50 non-null     object
 1   동          50 non-null     object
 2   인구수_계      50 non-null     int64
 3   인구수_남      50 non-null     int64
 4   인구수_여      50 non-null     int64
 5   19세 이상_계   50 non-null     int64
 6   19세 이상_남   50 non-null     int64
 7   19세 이상_여   50 non-null     int64
 8   65세 이상_계   50 non-null     int64
 9   65세 이상_남자  50 non-null     int64
 10  65세 이상_여자  50 non-null     int64
 11  세대수        50 non-null     int64
 12  재외국민       50 non-null     int64
 13  데이터기준일자    50 non-null     object
dtypes: int64(11), object(3)
memory usage: 5.6+ KB

=> 아동 수가 없지만 일단 패스하겠다..

## 8. 202512_202512_연령별인구현황_연간
https://jumin.mois.go.kr/ageStatMonth.do#none

- 수집 기간: 25년 (25년 1년간 )

In [24]:
child_population_df = pd.read_csv('./202512_202512_연령별인구현황_연간.csv', encoding='cp949')
child_population_df.head()

,행정구역,2025년_계_총인구수,2025년_계_연령구간인구수,2025년_계_0~4세,2025년_계_5~9세,2025년_계_10~14세,2025년_계_15~19세,2025년_남_총인구수,2025년_남_연령구간인구수,2025년_남_0~4세,2025년_남_5~9세,2025년_남_10~14세,2025년_남_15~19세,2025년_여_총인구수,2025년_여_연령구간인구수,2025년_여_0~4세,2025년_여_5~9세,2025년_여_10~14세,2025년_여_15~19세
0,경기도 성남시 (4113000000),"905,794","135,396","23,841","30,320","40,148","41,087","447,380","69,062","12,224","15,421","20,581","20,836","458,414","66,334","11,617","14,899","19,567","20,251"
1,경기도 성남시 수정구 (4113100000),"232,389","28,654","5,925","6,772","7,725","8,232","117,449","14,523","3,039","3,434","3,886","4,164","114,940","14,131","2,886","3,338","3,839","4,068"
2,경기도 성남시 수정구 신흥1동(4113151000),"12,046",810,101,139,248,322,"6,439",416,53,72,128,163,"5,607",394,48,67,120,159
3,경기도 성남시 수정구 신흥2동(4113152000),"31,635","5,231","1,621","1,410","1,078","1,122","15,368","2,624",810,727,543,544,"16,267","2,607",811,683,535,578
4,경기도 성남시 수정구 신흥3동(4113153000),"10,670",748,122,143,198,285,"5,735",381,68,68,95,150,"4,935",367,54,75,103,135

In [25]:
child_population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             54 non-null     object
 1   2025년_계_총인구수     54 non-null     object
 2   2025년_계_연령구간인구수  54 non-null     object
 3   2025년_계_0~4세     54 non-null     object
 4   2025년_계_5~9세     54 non-null     object
 5   2025년_계_10~14세   54 non-null     object
 6   2025년_계_15~19세   54 non-null     object
 7   2025년_남_총인구수     54 non-null     object
 8   2025년_남_연령구간인구수  54 non-null     object
 9   2025년_남_0~4세     54 non-null     object
 10  2025년_남_5~9세     54 non-null     object
 11  2025년_남_10~14세   54 non-null     object
 12  2025년_남_15~19세   54 non-null     object
 13  2025년_여_총인구수     54 non-null     object
 14  2025년_여_연령구간인구수  54 non-null     object
 15  2025년_여_0~4세     54 non-null     object
 16  2025년_여_5~9세     54 non-null     object
 17  2025년_여_10~14세   54 non-null     object
 18  2025년_여_15~19세   54 non-null     object
dtypes: object(19)
memory usage: 8.1+ KB